html {
	font-family: 'Georgia', serif;
	color: #000;
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

h1 {
	color: #900;
}

a {
	color: #900;
}

a:hover {
	background-color: #eee;
}

blockquote {
	border-color: #ddd;
}

p code, pre {
	background-color: #eee;
	border-color: #ddd;
}

hr {
	border-color: #999;
}
