* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #002b36;
	color: #839496;
	font-family: "Helvetica", sans-serif;
}

a {
	color: #93a1a1;
}

a:hover {
	text-decoration: none;
}

header, article, footer {
	width: 288pt;
	margin-left: auto;
	margin-right: auto;
}

header {
	margin-bottom: 24pt;
	margin-top: 12pt;
}

header h1 a {
	color: #b58900;
	font-weight: 200;
	text-decoration: none;
	font-size: 20pt;
	text-transform: uppercase;
	letter-spacing: 2pt;
}

article {
	font-size: 10pt;
	line-height: 12pt;
}

article p {
	text-indent: 1em;
	text-align: justify;
}

article h1 {
	font-size: 15pt;
	margin-bottom: 9pt;
	margin-top: 12pt;
	text-transform: uppercase;
	letter-spacing: 2pt;
	line-height: 15pt;
}

article h2 {
	margin-top: 12pt;
	margin-bottom: 12pt;
	font-size: 12pt;
	line-height: 12pt;
}

article h3, article h4, article h5, article h6 {
	margin-top: 14pt;
	margin-bottom: 12pt;
	font-size: 10pt;
	line-height: 10pt;
}

article ul {
	padding-left: 2em;
	list-style-type: square;
	margin-top: 12pt;
	margin-bottom: 12pt;
}

footer {
	border-top: 1px solid #839496;
	margin-top: 12pt;
	margin-bottom: 24pt;
	padding-top: 12pt;
	font-size: 8pt;
	line-height: 12pt;
}